<li>
    {{burger_name}}

    <button class="change-devoured" data-id="{{id}}" data-newdevoured="{{devoured}}">
        {{#if devoured}}Make Again!{{else}}EAT DA BURGER{{/if}}
    </button>

    <button class="delete" data-id="{{id}}">Throw Away!</button>
</li>